################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EShop.FrontEnd.Core/bin/Debug
/EShop.FrontEnd.UI.Web.MVC/bin
/.vs/EShop.FrontEnd/v15/Server/sqlite3
